<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css"> 
</head>
{% load static %}

<div class="jumbotron">
    <h2 class="text-center">Word count info</h2>
    <p class="text-center"> this is an info page about how great is the word counter made in django!
        i hope you enjoyed.
    </p>
    <a class="btn btn-secondary btn-lg btn-block" href="{% url 'home' %}">Home</a>

</div>
